#top_buttons_container, #bottom_buttons_container {
    position: fixed;
    z-index: 10000;
    display: flex;
    gap: 10px;
    transition: left 0.3s ease-out, right 0.3s ease-out;
}

#top_buttons_container {
    top: 5px;
    right: 5px;
}

#bottom_buttons_container {
    bottom: 5px;
    transition: left 0.3s ease-out;
}